
<main class="w-full max-w-xl flex flex-col items-center h-full justify-evenly">

  <h1 id="Main-Header">Solar Flare 2048</h1>
  <div id="Game Parent Window" class="flex flex-col bg-gray-900 rounded-2xl max-w-[90%] w-full mx-auto sm:p-5 p-3.5
                                      place-items-center justify-evenly">
    <div id="Game Board" class="inline-grid grid-cols-4 grid-rows-4 place-items-center
                                 bg-gray-700 rounded-2xl w-full m-4 p-2 aspect-square">
      <!--<div *ngFor="let cell of gameBoard" [class]="cell<=0 ? 'cell' : 'empty-cell'">
        <p>{{cell}}</p>
      </div>-->
      <div class="cell"
      *ngFor="let cell of gameBoard" [ngClass]="cell > 0 ? 'cell-filled value'+cell : 'cell-empty'">
        <p>{{cell > 0 ? cell : ''}}</p>
      </div>
    </div>
    <div id="Game Score" class="h-1/12 w-fit text-white space-monkey text-5xl mb-2.5">Score: {{currentScore}}</div>
  </div>
  <div id="Game Buttons">
    <button (click)="startGameOnLoad()" id="Restart Button" class="restart-button">Restart</button>
  </div>
  <div id="Extra Buttons">
    <button matButton (click)="openHowToPlayDialog()" id="HowToPlay Button" class="extra-button">How to Play</button>
    <button matButton (click)="openLeaderboardDialog()" id="Highscores Button" class="extra-button">Highscores</button>
  </div>

  <!-- debug buttons
   <div id="Debug Buttons">
    <button matButton (click)="openGameOverDialog(false)" id="HowToPlay Button" class="extra-button">No high score</button>
    <button matButton (click)="openGameOverDialog(true)" id="Highscores Button" class="extra-button">High score</button>
  </div>
        -->

</main>

<router-outlet />
